RunTest/RunTest/.vs/
RunTest/RunTest/RunTest_d.pdb
RunTest/RunTest/RunTest_d.ilk
RunTest/RunTest/Debug/
RunTest/RunTest/RunTest.map
RunTest/RunTest/Release/
RunTest/RunTest/RunTest.vcxproj.user
RunTest/RunTest/*.exe
OldTests/.vs/
OldTests/Debug/
OldTests/x64/
UnitTests/UnitTests/UnitTests.vcxproj.user
UnitTests/UnitTests/.vs/
UnitTests/UnitTests/Debug/
